$h1 : 40px;
$h2 : 32px;
$h3 : 24px;
$h4 : 18px;
$h5 : 16px;
$h6 : 14px;
$h7 : 12px;
$h8 : 10.5px;
$h21: 21px;


$bg-black: rgb(53, 53, 53) !default;
$bg-yellow: rgb(216, 216, 135)  !default;



@font-face {
    font-family: 'Karla-Regular';
    src: url('../fonts/Karla/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Karla-Bold';
    src: url('../fonts/Karla/Karla-Bold.ttf');
}

@font-face {
    font-family: 'B612-Regular';
    src: url('../fonts/B612/B612-Regular.ttf');
}

@font-face {
    font-family: 'B612-Bold';
    src: url('../fonts/B612/B612-Bold.ttf');
}

@font-face {
  font-family: 'DidactGothic-Regular';
  src: url('../fonts/Didact_Gothic/DidactGothic-Regular.ttf');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf');

}

@font-face {
  font-family: 'WorkSans-Bold';
  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: 'WorkSans-SemiBold';
  src: url('../fonts/Work_Sans/WorkSans-SemiBold.ttf');

}





