<div class="maincontent-div1" >
    <div class="list-items" >
        <table class="table-class" *ngIf = "speeches$ | async as speeches" >
          <thead>
            <tr>
              <th>Author</th>
              <th>Date</th>
              <th>Keywords</th>
            </tr>
          </thead>
          <tbody>
            <tr  (click) = 'sendSpeech(speech.id)' *ngFor = 'let speech of speeches' >
              <td>{{speech.authorName}}</td>
              <td>{{speech.date}}</td>
              <td>{{speech.keywords}}</td>
            </tr>
          </tbody>
        </table>
        <div class="errorMessagediv" *ngIf = "errorMessage$ |async as errorMessage" >
          <h5 class="errorMessage" > {{errorMessage}} </h5>
        </div>
    </div>
</div>

