@import "../../../../assets/scss/variables.scss";

.my-container {
    padding: 0.5em;
    max-width: 800px;
    margin: 0 auto;
}

.maincontent-div {
    margin-top: 2em;
}

.speech-header1 {
  background-color:rgb(15, 51, 85) ;
  text-align: center;
  padding: 0.5em;
}

.heading1 {
  font-family: 'DidactGothic-Regular';
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 800;
  color: white;
}

.grid-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.speech-details {
   display: flex;
   flex-direction: column;
}

.speech-content {
    width: 100%;
}

.text-area {
    outline: none!important;
    width: inherit;
    max-width: 100%;
    height: 240px;
    overflow-y: auto;
    resize: none;
    border: 1px solid black;
    border-radius:0 0 5px 5px;
    color: black;
    font-family: 'B612-Regular';
    font-size: $h5;
    padding: 1em;
}

.speech-details>input {
    font-family: 'B612-Regular';
    font-size: $h6;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 0.5em;
    padding: 0.5em;

}



.footer-buttons {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}





.custom-button {
  font-family: "DidactGothic-Regular";
  font-weight: 800;
  box-shadow: 0px 0px 5px black;
  border: none;
  padding: 0.5em 2em;
  background-color: rgb(15, 51, 85);
  color: white;
  outline: none;
  border-radius: 10px;
  margin-right: 10px;
}

.custom-button:hover {
  background-color: #d8c5ff;
  color: black;
}


button[disabled], button[disabled]:hover {
    background: grey;
    color: white;
}


@media only screen and (max-width: 600px) {
     .my-container {
         max-width: 550px;
         margin: 0 auto;
     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .my-container {
        width: 100%;
        margin: 0 auto;
    }

    .speech-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     }

     .speech-details>input {
        margin-right: 10px;
     }

     .speech-details>input:last-child {
      margin-right: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
